/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #76b727
}
.navbar-inverse .navbar-nav > .active > a:hover {

    background: #76b727
}
.navbar-inverse .navbar-brand {
	color: #999999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #76b727;
	font-size: 22px;
	letter-spacing: 1px;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: #3498db no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}
/****** SECTIONS *****/

.w {
	padding-top: 35px;
}

.w h4 {
	font-weight: 700;
}

.w i {
	color: #76b727;
	font-size: 30px;
}


.wb {
	padding-top: 35px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #76b727;
	font-size: 12px;
	padding: 5px;
}
#blue {
	background: #3498db;
	padding-top: 15px;
	padding-bottom: 5px;
}
#blue h4 {
	color: white;
	font-weight: 700;
}

#blue p {
	color: white;
}
.munradio_all {
    position: absolute;
    overflow:hidden;
    z-index:2;
    min-width:10%;
    left: 5%;
    top: 7%;
    background-color: rgb(246, 246, 244) !important;
}
/*info legend leaflet*/
/* map info style */
.in {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.in h4,b,p {
    color: black !important;
}
.legend {
    line-height: 20px;
    color: #555;
    font-size: 14px;
    margin-left: 15px;
}
.legend i {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
.legend p {
margin-bottom: 5px;
}
.infoLeg {
  background-color: white;
  width: 200px;
}
.infoLegar {
  background-color: white;
  width: 150px;
  direction: rtl;
}
.divider{
    height: 2px;
    border: none;
    background-color: #337ab7;
}
.lefttitle{
  list-style: none;
  font-size: 30px;
  line-height: 1.7;
  padding-bottom: 8px;
    border-left: 5px solid #337ab7;
  padding-left: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
  overflow: hidden
}
.controllegend {
    line-height: 18px;
    color: #555;
}
.controllegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.controlinfo {
    padding: 6px 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.controlinfo h4 {
    margin: 0 0 5px;
    color: #777;
}
.tooltipnamear{
color:black;
font-size: 0.8vw;
box-shadow:none!important;
border:none!important;
background-color: rgba(255, 255, 255, 0);
}